<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.tiles.mapper.MemberMapper">
	<insert id="insertNewMember" parameterType="com.test.tiles.vo.MemberVO">
		INSERT INTO MEMBER
		(
			MEMEMAIL,
			MEMPWD,
			MEMNAME,
			MEMHP
		)
		VALUES(
			#{memEmail},
			#{memPwd},
			#{memName},
			#{memHP}
		)
	</insert>
	
	<select id="selectOneByEmail" resultType="com.test.tiles.vo.MemberVO" parameterType="String">
		SELECT
			MEMEMAIL, MEMNAME
		FROM 
			MEMBER
		WHERE
			MEMEMAIL = #{email}
	</select>
	
	<select id="memCheckID" parameterType="com.test.tiles.vo.MemberVO" resultType="int">
		SELECT
			COUNT(MEMEMAIL)
		FROM
			MEMBER
		WHERE
			MEMEMAIL = #{memEmail}
	</select>
	
	<select id="memLoginTry" parameterType="com.test.tiles.vo.MemberVO" resultType="int">
		SELECT 
			COUNT(MEMEMAIL)
		FROM 
			MEMBER
		WHERE
			 MEMEMAIL = #{memEmail} and MEMPWD = #{memPwd}
	</select>
</mapper>