<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.tiles.dao.GroupMapper">
	<insert id="insertGroup" parameterType="com.test.tiles.vo.GroupVO">
		INSERT INTO 
		MENUS(
			GRPNAME,
			GRPLEADER
		)VALUES(
			#{grpName},
			#{grpLeader}
		)
	</insert>
	
	<select id="getGroupList" resultType="com.test.tiles.vo.GroupVO">
		SELECT
			*
		FROM GROUPS
		WHERE 
			GRPDIBDATE IS NULL
		ORDER BY
			GRPIDX ASC
	</select>
</mapper>